body{
	display : flex;
	justify-content : center;
	align-items : center;
	height : 100vh;
	background-color : #ffffff;
	margin : 0;
}
.container{
	 background-color: #d3d3d3;
   padding: 20px ;
	 border: 2px solid black;
	 border-radius: 20px;
	display: flex;
	gap: 20px;
	
}
.green , .yellow, .red {
	width : 60px;
	height : 60px;
	boredr-radius : 50%;
}
	.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}
/*  your css code here. If applicable */
